@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
    --cor-texto: #FFF;
    --cor-borda: rgba(255, 255, 255, 0.50);
    --cor-fundo-botao: rgba(255, 255, 255, 0.10);
    --cor-fundo-bolinha: #FFFFFF;
    --cor-borda-trilho: rgba(255, 255, 255, 0.50);
    --imagem-fundo: url('/assets/desktop-background.png');
    --filtro-icone-social: invert(1);
}


body.light-mode {
    --cor-texto: #000000;
    --cor-borda: rgba(0, 0, 0, 0.50);
    --cor-fundo-botao: rgba(0, 0, 0, 0.05);
    --cor-fundo-bolinha: #FFFFFF; 
    --cor-borda-trilho: rgba(0, 0, 0, 0.50);
    --imagem-fundo: url('/assets/desktop-background2.png');
    --filtro-icone-social: invert(0);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-image: var(--imagem-fundo);
    color: var(--cor-texto);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 0.3s, color 0.3s;
}

.menucentral {
    display: flex;
    width: 588px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.perfil-card {
    text-align: center; 
    margin-bottom: 24px; 
}

.foto-perfil {
    display: flex;
    width: 112px;
    height: 112px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 3px solid var(--cor-borda);
    padding: 0px;
}

.nome-usuario {
    color: var(--cor-texto);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.switch-input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.switch-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 64px;
    height: 24px; 
    background-color: transparent;
    border: 1px solid var(--cor-borda-trilho);
    border-radius: 150px;
    transition: border-color 0.2s; 
}

.switch-circle {
    position: absolute;
    left: -3px; 
    width: 39px;
    height: 39px;
    background-color: var(--cor-fundo-bolinha);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.icon-sun {
    display: none;
}
.icon-moon {
    display: block;
}

.switch-circle img {
    width: 20px;
    height: 20px;
}

.switch-input:checked + .switch-label .switch-circle {
    /* (Largura do trilho - Largura da bolinha + (2 * 'left' inicial)) */
    /* (64 - 24 + (-3*2)) = ~34px */
    transform: translateX(34px);
}

.switch-input:checked + .switch-label .icon-sun {
    display: block;
}
.switch-input:checked + .switch-label .icon-moon {
    display: none;
}

.botoes {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.botoes a {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    border-radius: 8px;
    color: var(--cor-texto);
    background-color: var(--cor-fundo-botao);
    border: 2px solid var(--cor-borda);
    backdrop-filter: blur(4px);

    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    text-decoration: none;
    font-family: Inter;
}

.sociallinks {
    display: flex; 
    justify-content: center;
    align-items: center; 
    gap: 32px; 
    padding: 24px 0; 
}

.sociallinks a img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    filter: var(--filtro-icone-social);
    transition: filter 0.2s;
}
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
